{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container mt-s-2">
    <div class="row">
        <div class="col text-center">
            <hr class="w-50 mb-1 mt-4">
            <h2 class="logo-font m-4">About Us</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!--- About image --->
<div class="container">
    <div class="row align-items-center my-4">
        <div class="col-12 col-md-6">
            <div class="my-4">
                <img src="{{ MEDIA_URL }}about.jpeg" alt="about-photo" class="img-fluid">
            </div>
        </div>
        <!--- About text container --->
        <div class="col-12 col-md-12 col-lg-6">
            <div class="about-details-container mb-5 mt-md-5">
                <h2 class="about-heading">Our Story</h2>
                <p class="about-text">Thank you for choosing Fit Beast for your supplements and Gym items, we truly
                    appreciate your custom and we hope you enjoy your shopping experience with us here on site.

                    Fit Beast was founded in 2021 with a handful of products and an internet connection. From humble
                    beginnings we are now one of the Ireland's prominent supplier, with our own state of the art factory
                    and 21,048sqft warehouse here in Dublin! We owe all of this to our customers. We pride ourselves on
                    customer service in more ways than one - we believe customer service is about more than sending out
                    orders, it's about building a relationship so we learn how to better serve your needs, and you know
                    who you're doing business with.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}