{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container mt-s-2">
        <div class="row">
            <div class="col text-center">
                <hr class="w-50 mb-1 mt-4">
                <h2 class="logo-font m-4 text-dark">Contact Us</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center mb-4">
                <h2 class="text-muted">Please send us a message</h2>
            </div>
        </div>

        <div class="row text-dark">    
            <div class="col-12 col-lg-6 offset-lg-3">
                <form method="POST" action="{% url 'contact' %}" class="form mb-2">
                    {% csrf_token %}
                        {{ form|crispy }}
                    <div class="text-right mt-5 mb-5 text-center">
                        <a class="btn btn-outline-black" href="{% url 'home' %}">Cancel</a>
                        <button class="btn btn-black" type="submit">Contact</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>

{% endblock %}